   .container{
    margin: 0px;
   }
   .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
    width: 100%;
    height: 100vh;
   } 
   .images, .video{
    color: var(--clr-white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
   }
   .commentAndlike i{ 
        display: none;
        color: var(--clr-white);
        width: 30px;
        height: 30px;
   }
   .images:hover, .video:hover{
        background-color: rgba(0, 0, 0, 0.226);
       background-blend-mode: color-burn;

   }
   .images:hover .commentAndlike i, .video:hover .commentAndlike i{
    display: block;
   }
   .images[data-index="1"]{
    background-image: url(/img/photos-to-be-used/cheetah.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1;
    grid-row: 1;
   }
   .images[data-index="2"]{
    background-image: url(/img/photos-to-be-used/image3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 2;
    grid-row: 1;
   }
   .images[data-index="3"]{
    background-image: url(/img/photos-to-be-used/image5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1;
    grid-row: 2;
   }
   .images[data-index="4"]{
    background-image: url(/img/photos-to-be-used/member-6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 2;
    grid-row: 2;
   }
   .images[data-index="5"]{
    background-image: url(/img/photos-to-be-used/member-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 2;
    grid-row: 3;
   }
   .video[data-index="1"]{
    background-image: url(/img/photos-to-be-used/biya1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 3;
    grid-row: span 2;
   }
   .video[data-index="2"]{
    background-image: url(/img/photos-to-be-used/cheetah.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1;
    grid-row: span 2;
   }
   

   .images[data-index="6"]{
    background-image: url(/img/photos-to-be-used/dogs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    grid-column: 3;
    grid-row: 3;
   }
   .images[data-index="7"]{
    background-image: url(/img/photos-to-be-used/photo2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    grid-column: 2;
    grid-row: 4;
   }
   .images[data-index="8"]{
    background-image: url(/img/photos-to-be-used/cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 3;
    grid-row: 4;
   }
   .margin100{
    margin-top: 100px;
   }
   @media (min-width: 798px) {
    
    .container{
        margin-left: 80px;
        top: 40px;
        padding: 0px  40px;
    }

    
}
@media (min-width: 1168px) {
    .wrapper{
        margin-right: 50px;
        
    }
    .container{
        margin-left: 255px;
        
    }
    .grid{
        
        height: 150vh;
        
    }
}
@media (min-width: 968px) {
    
    .container{
        width: 100%;
        height: 100%;
    }
}
