

.wrapper{
    height: calc(100vh - 54px);
}
.msg-section{
    
    height: 100%;
    width: 100%;
    display: flex;
    /* flex: 20% 80%; */

}
.new{
    background-image: url(../img/icons-to-be-used/new_msg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
    margin: 25px;

}
.messagerlist{
    background-color: var(--clr-white);
    width: 20%; 
    display: flex;
    flex-direction: column;
    align-items: center;

}
.messagearea{
    width: 80%;
}
.messengers{
    border-top: 1px solid #ccc;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
    padding-top: 10px ;
}
.msg_pro_pic{
    padding: 4px;
    border-radius: 100vh;
    width: 60px;
    height: 60px;
}
.profilepreviewsection{
    display: flex;
    align-items: center;
    gap: 15px;
}
.profilepreviewsection .profile{
    border-radius: 100vh;
    width: 50px;
    height: 50px;
}
.messagearea{
    display: flex;
    flex-direction: column;
}
.profilePreviewAndCalls{
    background-color: var(--clr-white);
    width: 100%;
    padding: 10px 10px;
    border:1px solid #ccc;
    display: flex;
    justify-content: space-between;
}
.usernameandtimeline h3{
    color: var(--clr-dark);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
.usernameandtimeline p{
    color: #707070;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    
}
.phone{
    display: block;
    background-image: url(../img/icons-to-be-used/phone-48.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
}
.video{
    display: block;
    background-image: url(../img/icons-to-be-used/video-call-48.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
}
.info{
    display: block;
    background-image: url(../img/icons-to-be-used/information-24.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 15px;
    height: 15px;
    position: relative;
    margin-left: 10px;
}
.info::before{
    content: '';
    padding: 10px;
    border-radius: 100vh;
    border: 2px solid black;
    position: absolute;
    top: -5px;
    left: -5px;
}
.calls_info{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.msghiglight{
    display: none;
}
.msghiglight p{
    color: #707070;
    font-size: .9em;
}
.msghiglight h3{
    text-transform: capitalize;
    font-size: 1.1em;
    font-weight: 600;
}
.message{
    display: flex;
    flex-direction: column;
}
.chat_box{
    overflow-y: auto;
    padding: 10px 30px 20px 30px;
}
:is(.messengers, .chat_box)::-webkit-scrollbar{
    width: 0px;
}
.chat{
    margin: 15px 0;
}
.chat p{
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: inset 0 0 32px 32px -32px rgba(0, 0, 0, 10%),
                inset 0 -32px 32px -32px rgba(0, 0, 0, 30%);
}
.outgoing{
    display: flex;
}
.outgoing .details{
    margin-left: auto;
    max-width: calc(100% - 150px);
}
.outgoing .details p{
    background: #3856ff ;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}
.incoming{
    display: flex;
    align-items: flex-end;

}
.incoming .msgprofile{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
.incoming .details{
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 150px);
}
.incoming .details p{
    background-color: #fff;
    color: #333;
    border-radius: 18px 18px 18px 0;
}
.typing-area{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}
.typing-area input{
    height: 45px;
    width: calc(100% - 58px);
    font-size: 1.01em;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.typing-area button{
    width: 55px;
    border: none;
    outline: none;
    border-radius: 0 5px 0 5px;
    background-color: var(--primary-clr);
    color: var(--clr-white);
    font-size: 1.2em;
    cursor: pointer;
}



@media (min-width: 798px) {
    .left_sider{
        width: 70px;
    }
    .left_sider .navigation h3{
        display: none;
    }
    .logo-left-nav{
        background-image: url(../img/logo/logo.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 2.9em;
        width: 50px;
        margin: 20px 0 30px -2px;
    }
    .nav-property{
        padding: 8px;
    }
    .wrapper{
        margin: 0;
        width: calc(100% - 70px);
        height: 100vh;
        position: absolute;
        right: 0;
    }
    .msg_card{
        display: flex;
        gap: 10px;
        align-items: center;
        
    }
    .msghiglight{
        display: block;
    }
    .messagerlist{
        width: 50%;
    }
    .messengers .msg_card{
        width: 100%;
        padding-left: 30px;
    }
    /* .messagearea{
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: red;
    } */
    .message{
        overflow-y: auto;
    }
   
    
}
@media (min-width: 1168px) {
    .messagerlist{
        width: 30%;
    }
    .messagearea{
        width: 70%;
        flex-direction: row;
        
    }
    
    .messengers .msg_card{
        width: 100%;
        padding-left: 30px;
    }
    .message{
        width: 70%;
    }
    .profilePreviewAndCalls{
        width: 30%;
        order: 2;
        flex-direction: column;
    }
}