* , ::after , ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-primary-clr:rgb(240, 237, 245);
    --background-dark-clr: rgb(35, 38, 46);
    --primary-clr: rgb(7,24,196);
    --clr-white:#fff;
    --clr-dark:color: rgb(44, 44, 44);
}
body{
    background-color: var(--background-primary-clr);
    
    position: relative;
}
.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
header{
    background-color: var(--clr-white);
    /* padding: 10px var(--inward-size); */
    width: 100%;
    height: 70px;
    box-shadow: 0 1px 2px #dbdbdb;
    display: flex;
    justify-content: center;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
}
.logo{
    background-image: url(/img/logo/logo-no-background.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 4em;
    width: 10em;
}
header nav .login{
    display: flex;
    gap: 20px;
}
header nav .login input{
    background-color: var(--background-primary-clr);
    border: 0;
    padding: 10px;
    width: 254px;
    height: 41px;
    border-radius: 8px;
}
header nav .login .btn{
    background-color: var(--primary-clr);
    color: var(--clr-white);
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    border: 0;
    height: 45px;
    width: 120px;
}
 .main{
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
}
.main .left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}
 
.main .leftlogin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}
.main .right{
      
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main .right .form{
    max-height: 535px;
    max-width: 450px;
    padding: 30px 17px;
    border-radius: 50px;
    background-color: var(--clr-white);
    box-shadow: 0 2px 8px rgb(146, 146, 146);
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 105px;
}

.right_man{
    
    background-image: url(/img/rightMan.png);
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
    height: 351px;
    width: 159px;
    margin-left: 6rem;
    
}
.right_manlogin{
    
    background-image: url(/img/rightMan.png);
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
    height: 351px;
    width: 159px;
    margin-left: 6rem;
    
}

.seating_man{
    background-image: url(/img/seatingMan.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 206px;
    width: 183px;
    position: relative;
    top: 150px;

}
.two_womens{
    height: 489px;
    width: 348px;
    background-image: url(/img/two_women.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
.form-header{
    margin-top: -15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form .name{
    display: flex;
    gap: 35px;
}
.form .name .fname{
    width: 244px;
    padding: 0 20px;
}
.form .name .lname{
    width: 255px;
    padding: 0 20px;

}
.form input::placeholder{
    width: 20px;
    color:#767676;
}
.form input{
    height: 41px;
    background-color: rgba(7, 24, 196, 9%);
    border: 0;
    border-radius: 8px;
    border: 1px solid #958F8F;
}
.form label{
    font-weight: bold;
    font-size: 20px;
}
.form .gender{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form .gender .male{
    display: flex;
    align-items: center;
    gap: 33px;
    background-color: rgba(7, 24, 196, 9%);
    width: 160px;
    height: 41px;
    border-radius: 8px;
    padding: 13px;
    border:1px solid #958F8F;
}
.form .gender .female{
    display: flex;
    align-items: center;
    gap: 33px;
    background-color: rgba(7, 24, 196, 9%);
    width: 160px;
    height: 41px;
    border-radius: 8px;
    padding: 13px;
    border:1px solid #958F8F;
}
.form .birth{
    display: flex;
    gap: 10px;
}
.form .birth select{
    background-color: rgba(7, 24, 196, 9%);
    height: 41px;
    border: 0;
    border-radius: 8px;
    width: 160px;
    padding: 0 10px;
    border:1px solid #958F8F;
}
.form .email_password {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    outline: none;
}
.form .email_password .email{
    padding: 0 15px;
}
.form .email_password .password{
    padding: 0 15px;
}
.form p{
    font-size: .8em;
    padding: 0 15px ;
    color: #777777;
}
.form .signUp{
    display: flex;
    justify-content: center;
}
.form .signupBtn{
    background-color: var(--primary-clr);
    color: var(--clr-white);
    border: none;
    border-radius: 10px;
    height: 41px;
    width: 162px;
    font-weight: bold;
    font-size: 1.08em;
}

.hide{
    display: none;
}
.login_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
.login-form{
    width: 400px;
    background-color: var(--clr-white);
    border-radius: 50px;
    padding: 20px 24px;
    margin-left: 30px;
    box-shadow: 0 4px 15px gray;
    
}
.login-form .login{

    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}
.login-form .login .btn{
    padding: 0 16px;
    background-color: var(--primary-clr);
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--clr-white);
    line-height: 48px;

}
.form input::placeholder{
    width: 20px;
    color:#767676;
}
.login-form .login input{
    padding: 14px 16px;
    background-color: rgba(7, 24, 196, 9%);
    border: 0;
    border-radius: 8px;
    
    border: 1px solid #958F8F;
}
.login-form .forgotPassword{
    margin-top: 16px;
    font-size: 1em;
    text-align: center;
}

.login-form .forgotPassword a{
        text-decoration: none;
}
.hr{
    height: 1px;
    width: 100%;
    margin-top: 33px;
    background-color: #767676;
}
.createNew{
    text-align: center;
    margin-top: 20px;
}
.createNew .create_new{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    color: var(--clr-white);
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 1215px) {
    .main .leftlogin{
        display: none;
    }
    
}
@media (max-width:642px) {
    .right_manlogin{
        display: none;
    }
    .login-form{
        margin: 0;
    }
    
}
.form_section{
    backdrop-filter: opacity(10%);
    background-color: rgb(240, 237, 245 , 85%);
    width: 100%;
    height: 100vh;
    display: flex;  
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;

}
.form{
    max-height: 535px;
    max-width: 450px;
    padding: 30px 17px;
    border-radius: 50px;
    background-color: var(--clr-white);
    box-shadow: 0 2px 8px rgb(146, 146, 146);
    display: flex;
    flex-direction: column;
    gap: 15px;
}
    


